body{
    background-color: rgba(128, 145, 145, 0.815);
}

h1{
    text-align: center;
    
}

#navbar{
    background-color: red;
}



.btn{
    color: antiquewhite;
}

.card1{
    margin-left: 30px;
}  


